# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test files
*_test.go

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDE
.vscode
.idea

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

